th {
    background-color: #b8491e;
    color: white;
    font-family: sans-serif;
    height: 30px;
}
caption {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}
td {
    font-family: sans-serif;
    height: 30px;
    text-align: center;
}