@import 'https://fonts.googleapis.com/css?family=Karla';
#header h1 {
    color: blue;
    font-family: 'Karla', sans-serif;
}
#header hr {
    color: blue;
}
h2 {
  font-family: 'Karla', sans-serif;
}
#contents {
  background-color:#E7F5FE;
  padding-top:20px;
  padding-bottom:20px;
}
.required {
  font-weight:bold;
}
a:visited {
  color:red;
}
a:hover {
  font-weight:bold;
}
a:active {
  text-decoration:none;
}
table, th ,td {
  padding-bottom:2px;
  padding-top:2px;
}